/* user-myjd-2015 myjd.info.css Date:2016-02-23 18:40:00 */
@charset "UTF-8";
.user-set .yxds i {
	display:inline-block;
	background-image:url(//misc.360buyimg.com/user/myjd-2015/css/i/sprite-t-icon.png);
	background-repeat:no-repeat
}
div.ui-tips-yxds {
	border-color:#ddd;
	margin:-10px 0 0 30px;
	background:#fff
}
div.ui-tips-yxds .ui-tips-arrow {
	background:url(//misc.360buyimg.com/user/myjd-2015/css/i/tips-gray.png) no-repeat
}
.user-set {
	background-color:#fff;
	padding:20px 5px 0 15px
}
.user-set .interest-list {
	width:400px
}
.user-set .interest-list ul {
	display:inline-block;
	display:block
}
.user-set .interest-list ul:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
* html .user-set .interest-list ul {
	height:1%
}
*+html .user-set .interest-list ul {
	min-height:1%
}
.user-set .interest-list li {
	float:left;
	height:18px;
	line-height:18px;
	border:1px solid #cfcfcf;
	padding:8px 9px;
	margin:10px 10px 0 0;
	cursor:pointer;
	white-space:nowrap
}
.user-set .interest-list li.selected {
	position:relative;
	border-color:#e4393c;
	border-width:2px;
	padding:7px 8px
}
.user-set .interest-list li.selected s {
	display:block;
	position:absolute;
	bottom:0;
	right:0;
	width:16px;
	height:16px;
	background:url(//misc.360buyimg.com/user/myjd-2015/css/i/selt.png) no-repeat
}
.user-set .birthday-info {
	width:397px;
	overflow:hidden
}
.user-set .recommend-names {
	width:155px;
	border:1px solid #ccc;
	border-top:0;
	line-height:26px;
	background:#fff
}
.user-set .recommend-names dt {
	color:#e4393c;
	padding:0 5px
}
.user-set .recommend-names dd input {
	vertical-align:middle;
	margin:0 5px
}
.user-set .recommend-names dd span {
	display:inline-block;
	vertical-align:middle
}
.user-set .pos-r {
	position:relative
}
.user-set .pos-r .recommend-names {
	position:absolute;
	top:30px;
	left:0
}
.user-set .yxds {
	display:inline-block;
	height:29px;
	line-height:29px;
	padding:0 10px;
	margin-left:18px;
	margin-right:-50px;
	border:1px solid #f4f4f4;
	background:#f8f8f8;
	cursor:pointer
}
.user-set .yxds i {
	width:13px;
	height:13px;
	margin-right:4px;
	vertical-align:middle;
	background-position:-23px -28px
}
.user-set .yxds em {
	display:inline-block;
	height:29px;
	color:#666
}
.user-set .yxds:hover i {
	background-position:0 -28px
}
.user-set .yxds:hover em {
	color:#e4393c
}
.userset-lcol {
	float:left;
	width:500px
}
#user-info {
	overflow:hidden;
	width:280px;
	float:left;
	padding:10px;
	margin-bottom:10px;
	height:102px;
	background:#f9f9f9;
	border:1px solid #ccc;
	color:#666;
	line-height:20px
}
#user-info a {
	color:#005ea7
}
#user-info a:hover {
	color:#e4393c
}
#user-info .u-pic {
	position:relative;
	z-index:0;
	float:left;
	width:104px;
	height:104px;
	overflow:hidden;
	text-align:center;
	margin-right:6px
}
#user-info .u-pic .face-link {
	display:none;
	position:absolute;
	width:100px;
	text-align:center;
	left:0;
	bottom:4px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	color:#fff;
	z-index:3
}
#user-info .u-pic .face-link-box {
	display:none;
	background:#000;
	z-index:1;
	position:absolute;
	width:100px;
	text-align:center;
	left:0;
	bottom:4px;
	height:30px;
	opacity:.5;
	filter:alpha(opacity=50)
}
#user-info .u-pic .mask {
	background:url(//misc.360buyimg.com/user/myjd-2015/css/i/myjd-bg2.png) 0 0;
	width:104px;
	height:104px;
	position:absolute;
	left:0;
	top:0;
	z-index:2
}
#user-info .u-pic img {
	width:100px;
	height:100px
}
#user-info .info-m {
	float:left;
	width:170px
}
#user-info .info-m .u-name {
	font-size:18px;
	font-family:"microsoft yahei";
	color:#000;
	line-height:28px;
	height:28px;
	overflow:hidden;
	margin-bottom:5px
}
#user-info .info-m .u-name a {
	color:#000
}
#user-info .info-m .u-name a:hover {
	color:#e4393c
}
#user-info .info-m .u-level {
	margin-bottom:5px;
	height:18px
}
#user-info .info-m .u-level .rank {
	margin-right:10px
}
#user-info .info-m .u-level .rank s {
	background:url(//misc.360buyimg.com/user/myjd-2015/css/i/rank2014.gif) no-repeat 0 0;
	display:inline-block;
	height:17px;
	margin-right:5px;
	text-decoration:none;
	width:17px;
	vertical-align:middle;
	overflow:hidden
}
#user-info .info-m .u-level .rank a {
	display:inline-block;
	vertical-align:middle
}
#user-info .info-m .u-level .rank.r2 s {
	background-position:0 -17px
}
#user-info .info-m .u-level .rank.r3 s {
	background-position:0 -34px
}
#user-info .info-m .u-level .rank.r4 s {
	background-position:0 -51px
}
#user-info .info-m .u-level .rank.r5 s {
	background-position:0 -68px
}
#user-info .info-m .u-level .rank.r6 s {
	background-position:0 -85px
}
#user-info .info-m .rank-sh {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	height:15px;
	background:url(//misc.360buyimg.com/user/myjd-2015/css/i/rank-sh.png) no-repeat
}
#user-info .info-m .rank-sh01 {
	width:75px
}
#user-info .info-m .rank-sh02 {
	width:55px
}
#user-info .info-m .rank-sh03 {
	width:35px
}
#user-info .info-m .rank-sh04 {
	width:17px
}
#user-info .info-m .rank-sh05 {
	background-position:-80px 0;
	width:15px
}
.update-face-cont {
	padding:20px 0
}
.update-face-cont .img-cont {
	background:#f9f9f9;
	border:1px solid #e9eaec
}
.update-face-cont .img-b-cont {
	position:relative;
	width:470px;
	height:236px;
	margin-bottom:20px;
	display:table;
	text-align:center
}
.update-face-cont .img-b-cont .tip {
	position:absolute;
	left:50%;
	top:50%;
	width:100px;
	text-align:center;
	margin:-9px 0 0 -50px
}
.update-face-cont .img-b-cont .img-b {
	display:table-cell;
	vertical-align:middle;
	position:relative;
	z-index:5;
	*position:absolute;
	*top:50%;
	*left:50%
}
.update-face-cont .img-b-cont .img-b img {
	*position:relative;
	*top:-50%;
	*left:-50%
}
.update-face-cont .img-m-cont {
	position:relative;
	width:100px;
	height:100px;
	margin-top:20px;
	display:table;
	text-align:center
}
.update-face-cont .img-m-cont .img-s {
	display:table-cell;
	vertical-align:middle;
	*position:absolute;
	*top:50%;
	*left:50%
}
.update-face-cont .img-m-cont .img-s img {
	*position:relative;
	*top:-50%;
	*left:-50%
}
.update-face-cont .img-s-cont {
	position:relative;
	width:50px;
	height:50px;
	margin-top:20px;
	display:table;
	text-align:center
}
.update-face-cont .img-s-cont .img-s {
	display:table-cell;
	vertical-align:middle;
	*position:absolute;
	*top:50%;
	*left:50%
}
.update-face-cont .img-s-cont .img-s img {
	*position:relative;
	*top:-50%;
	*left:-50%
}
.update-face-cont .face-list ul {
	display:inline-block;
	display:block;
	width:480px
}
.update-face-cont .face-list ul:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
* html .update-face-cont .face-list ul {
	height:1%
}
*+html .update-face-cont .face-list ul {
	min-height:1%
}
.update-face-cont .face-list li {
	float:left;
	width:50px;
	height:50px;
	overflow:hidden;
	margin:10px 10px 0 0;
	cursor:pointer;
	position:relative
}
.update-face-cont .face-list li a {
	display:block
}
.update-face-cont .face-list li.selected b {
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
	background:url(//misc.360buyimg.com/user/myjd-2015/css/i/face-selt.png) no-repeat
}
.update-lcol {
	float:left;
	border-right:1px solid #e9eaec;
	width:470px;
	padding:0 30px
}
.update-rcol {
	float:left;
	width:240px;
	margin-left:30px
}
.update-rcol .smc {
	color:#999;
	line-height:20px
}
#product-track .m {
	background:#fff
}
#service-2014 .slogen {
    #service-2014 .slogen {
    position: relative;
    top: 21px;
    height: 0px;
    padding: 20px 0;
    margin-bottom: 14px;
    background: #F5F5F5;
    text-align: center;
}
}
#service-2014 .slogen .fore1 {
    margin-left: -505px;
}
#service-2014 .slogen .item {
    width: 302px;
}
#service-2014 .slogen .item {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20px;
    width: 245px;
    height: 54px;
    text-align: left;
    vertical-align: middle;
    font: 400 18px/50px "microsoft yahei";
}
#service-2014 .slogen .fore2 {
    margin-left: -237px;
}
.#service-2014 .slogen .item {
    width: 302px;
}
#service-2014 .slogen .fore3 {
    margin-left: 43px;
}
#service-2014 .slogen .item {
    width: 302px;
}
#service-2014 .slogen .fore4 {
    margin-left: 324px;
}
 #service-2014 .slogen .item {
    width: 302px;
}
#service-2014 .slogen .item b {
    padding: 0 10px;
    font-size: 24px;
    color: #C81623;
}
.copy{
    padding-top: 120px;
    height: 100px;
    background: #F5F5F5;
    text-align: center;
}